/* General Styles */
html, main, body, p{
    padding: 1%;
    color: white
    
}

html{
    /* height: 80%; */
}

/* Main Styles */

h1 {
    text-align: Center;
    text-transform: uppercase;
}
header{
    margin-bottom: 25px;
}

body {
    /* background-image: url(/home/nova/Project_Files/DigitalClock/pattern.png); */
    background-color: black;
}

main{
    background-color: white;
    height: 100px;
    width: 450px;
    margin: auto;
}


p {
    color: black;
    text-align: center;
    font-size: 5rem;
    margin: auto;
    padding-top: 5px;
}


footer {
    background-color: rgba(0,0,0,.5);
    text-align: center;
}

